body {
	background-color: black;
    display: inline-flex;
}
h1 {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: Yellow;
    background-color: black;
}

#msgBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 250px;
    width: 300px;
    background-color: white;
    margin-left: 50px;
    margin-top: 150px;
    border-radius: 30%;
    border: solid 5px blue;
    font-family: 'Press Start 2P', cursive;

}
#screen {
    height: 600px;
    width: 600px;
    background: url(https://static.vecteezy.com/system/resources/previews/000/097/801/non_2x/keep-off-the-grass-background-free-vector.png);
    background-size: cover;
    border-radius: 0%;
    cursor: url(https://image.flaticon.com/icons/png/128/18/18554.png) 67 67, auto;
    margin-bottom: 23px;
}
#row1,
#row2,
#row3,
#row4,
#row5,
#row6 {
    height: 100px;
    width: 600px;
}
#container {
    height: 600px;
    width: 600px;
}
#stats {
	font-family: 'Press Start 2P', cursive;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 0 auto;
}
#reload,
#ammo,
#timer, 
#score {
	font-family: 'Press Start 2P', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: yellow;
    text-align: center;
    background-color: rgba(200, 0, 0, .5);
    border: solid 5px blue;
    height: 125px;
    width: 125px;
    border-radius: 25%;
}
#row3 {
/*    text-align: center;*/
}
#duck {
    display: center height: 200px;
    width: 200px;
}
img {
    height: 100px;
    width: 100px;
}